[user]
	name = Kuniwak
	email = orga.chem.job@gmail.com
[core]
	editor = /usr/bin/vim
	excludesfile = ~/.gitignore.global
[github]
	user = Kuniwak
[credential]
	helper = osxkeychain
	trustExitCode = true
[push]
	default = simple
[hub]
	protocol = https
	host = github.lo.mixi.jp
[alias]
	mend = commit --amend -v
	ci = commit -v
	co = checkout
	ready = rebase -i @{u}
	st = status -s -b
