[user]
	name = Kuniwak
	email = orga.chem.job@gmail.com
[core]
	editor = /usr/bin/vim
	excludesfile = ~/.gitignore.global
[github]
	user = Kuniwak
[push]
	default = simple
[alias]
	amend = commit --amend -v
	c = commit -v
	o = checkout
	b = checkout -b
	f = fetch --prune
	pl = pull
	ps = push
	ready = rebase -i @{u}
	s = status -s -b
	ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
[include]
  path = ~/.gitconfig.local
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
