[user]
	name = Kuniwak
	email = orga.chem.job@gmail.com
	signingkey = E673DCBE31CD9D7AF65D8A338C729125EC6D6060
[core]
	editor = /usr/bin/vim
	excludesfile = ~/.gitignore.global
[github]
	user = Kuniwak
[push]
	default = simple
[alias]
	amend = commit --amend -v
	c = commit -v
	o = checkout
	b = checkout -b
	f = fetch -p
	pull = pull -p
	s = status -s -b
	ignore = "!gi() { curl -sLf https://www.gitignore.io/api/$@ ;}; gi"
[include]
  path = ~/.gitconfig.local
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[pull]
	ff = only
[secrets]
	providers = git secrets --aws-provider
	patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
	allowed = AKIAIOSFODNN7EXAMPLE
	allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
[init]
	defaultBranch = master
[safe]
	directory = *
