set surround

nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l

" noremap <ESC><ESC> :nohlsearch<CR><ESC>
inoremap <C-h> <BS>
inoremap <C-d> <DEL>
cnoremap <C-h> <BS>
cnoremap <C-d> <DEL>

nnoremap <C-u> <PageUp>
nnoremap <C-d> <PageDown>
vnoremap <C-u> <PageUp>
vnoremap <C-d> <PageDown>

inoremap <C-]> <ESC>
vnoremap <C-]> <ESC>
cnoremap <C-]> <ESC>

nnoremap Y y$
nnoremap vv V
nnoremap n nzz
nnoremap N Nzz

nnoremap j gj
nnoremap k gk
nnoremap gj j 
nnoremap gk k 
vnoremap j gj
vnoremap k gk
vnoremap gj j 
vnoremap gk k 

nnoremap ,l :action Debug<CR>
set clipboard+=ideaput
set ideajoin
