Isabelle*/etc/completion_history
Isabelle*/heaps
Isabelle*/jedit/activity.log
Isabelle*/jedit/history
Isabelle*/jedit/DockableWindowManager
Isabelle*/jedit/jars-cache
Isabelle*/jedit/killring.xml
Isabelle*/jedit/modes
Isabelle*/jedit/perspective.xml
Isabelle*/jedit/recent.xml
Isabelle*/mash_state

